body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#renderZone,
.render--zone {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 98vw;
  height: 98vh;
  background: #141414;
}

.Menu {
  position: fixed;
  top: 100px;
  left: 100px;
  min-width: 100px;
  z-index: 24;
  background: rgba(73, 32, 161, 0.7);
}

.MenuInner {
  padding: 0 20px 20px;
}

.menuItem {
  color: #e5e5e5;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.menuItem:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.rightMenu {
  position: fixed;
  z-index: 999;
  top: 300px;
  right: 50px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: rgba(165, 57, 201, 0.7);
}

.rmInner {
  color: #fff;
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
}
